html {
  --s: 200px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
     calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
  background-size: var(--s) calc(var(--s)*tan(30deg));
}

body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: large;

}
.form-container{
    width: 500px;
    background-color: white;
    border-radius: 10px;    
    padding: 20px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form+p{
    text-align: center; 
}


input, button{
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;


}
button{
    background-color: #4e4f51;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}