
    <main>
    <div class="form-container">
        <h1>Crear Cuenta</h1>
        <form id="register-form">
            <label for="user"></label>
            <input type="text" name="user" id="user" placeholder="Nombre de Usuario">
            <label for="email"></label>
            <input type="text" name="email" id="email" placeholder="Email" required>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
            <p>¿Ya estás registrado? <a href="/">Loguear</a></p>
            <p>¿Olvidaste tu contraseña? <a href="forgot-password.html">Recuperar</a></p>
            <p id="error" class="error hide">Error al Registrar</p>
        </form>
    </div>
</main>
